.highlight {
    display: inline;  
    background-color: black; 
    /* background color opacity */
    opacity: 0.9;
    color: white; 
    border-radius: 10px;
}

body {
    overflow-x: hidden;
}

.faq-background {
    background-image: url("../img/cyberstalk-blackground.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;   
}


.jumbotron-background{
    background-image: url("../img/cyberstalk-blackground.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;}

.cyberstalk-background {
    background-image: url("../img/cyberstalk-blackground.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}